<script>
  let { submit } = $props();
  let input = $state();

  const onclick = () => {
    submit(input.value);

    input.value = '';
    input.focus();
  };
</script>

<!-- svelte-ignore a11y_autofocus -->
<div class="p-4 bg-gray-100">
  <div class="flex items-center">
    <input
      bind:this={input}
      type="text"
      class="flex-1 mr-2 py-2 px-4 rounded-md border border-gray-300"
      placeholder="Новая задача"
      autofocus
    />
    <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md" {onclick}>
      Добавить
    </button>
  </div>
</div>
