<script lang="ts">
  import TodoItem from './TodoItem.svelte';
  import TodoForm from './TodoForm.svelte';

  let { title = '' } = $props();
  let todos = $state([]);

  $effect(() => {
    (async () => {
      await fetch('https://dummyapi.online/api/todos')
        .then((response) => response.json())
        .then((data) => {
          todos = data.slice(0, 10);
        });
    })();
  });

  const addTodo = (title: string) => {
    if (!title) return;

    todos = todos.concat({
      id: crypto.randomUUID(),
      title: title,
      completed: false,
    });
  };

  const toggleTodo = (id: number) => {
    todos = todos.map((t) => (t.id === id ? { ...t, completed: !t.completed } : t));
  };

  const deleteTodo = (id: number) => {
    todos = todos.filter((todo) => todo.id !== id);
  };
</script>

<div class="max-w-sm md:max-w-lg mx-auto my-10 bg-white rounded-md shadow-md overflow-hidden">
  <h1 class="text-2xl font-bold text-center py-4 bg-gray-100">{title}</h1>
  {#if todos.length}
    <ul class="list-none p-4">
      {#each todos as todo (todo.id)}
        <TodoItem {todo} toggle={() => toggleTodo(todo.id)} remove={() => deleteTodo(todo.id)} />
      {/each}
    </ul>
  {/if}
  <TodoForm submit={addTodo} />
</div>
